*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.synctex.gz
*.bbl
*.blg
*.run.xml
*.dvi
*.bcf
*.lof
*.lot
*.idx
*.ilg
*.ind

node_modules

generated/
.env
dist
__pycache__
.vscode

spectrum_data
.worktrees/
